/*better name than wrapper*/
.box-parent {
	width: 800px;
	height: 500px;
	margin: 90px auto 90px;
	font-size: 0;
}

/*more specific to do .box than div*/
.box {
	border: 1px solid black;
	/*if all divs will eventualy be inline-block, just do it here*/
	display: inline-block; 
}

/*keep hierachy: box-half and box-third first*/
.box-half {
	width: 50%;
	height: 200px;
}

.box-third {
	width: 33.33%;
	height: 300px;
}

.top-left {
	background-color: green;
}

.top-right {
	background-color: blue;
}

.bot-left {
	background-color: gray;
}

.bot-center {
	background-color: black;
}

.bot-right {
	background-color: orange;
}
