main {
	font-size: 0;
}

body {
	background: url(../images/outerspace_landscape.jpeg);
	background-size: cover;
}

nav {
	background-color: gray;
	height: 60px;
	width: 100%;
	padding-left: 60px;
	position: fixed;
	top: 0;
}

.nav-list {
	display: inline-block;
	margin: 3px auto 3px;
	list-style: none;
}

.nav-avatar {
	height: 80%;
	margin: 4px auto;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid black;
	/*apparently, while vertical-align ul doesn't work, this does..*/
	vertical-align: middle;

}

li {
	display: inline;
}

li:after {
	content: " |";
}

li:last-child:after {
	content: none;
}

/*when should I use position: relative + left vs display: static + margin?*/
.box-parent {
	background-color: black;
	width: 800px;
	height: 500px;
	position: relative;
	top: 200px;
	left: 200px;
}

.box-border {
	width: 500px;
	height: 300px;
}

.box-icon {
	width: 200px;
	height: 200px;
	z-index: 10;
}

.chidori {
	position: relative;
	left: 600px;
}

.box-dotted {
	position: absolute;
	border: 10px green dotted;
	width: 600px;
	height: 300px;
	left: 100px;
	bottom: 110px;
}
